services:
  - type: web
    name: school-fullstack
    env: docker
    plan: free
    region: singapore
    envVars:
      - key: DATABASE_URL
        value: sqlite:///data/sql_app.db
      - key: BACKEND_CORS_ORIGINS
        value: "*"
      - key: NEXT_PUBLIC_API_URL
        value: "/api/v1"
    disk:
      name: school-data
      mountPath: /data
      sizeGB: 1
