
fastapi
uvicorn[standard]
sqlalchemy
sqlmodel
alembic
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
python-dotenv
email-validator
fastapi-mail
