
fastapi
uvicorn[standard]
sqlalchemy
sqlmodel
alembic
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
pydantic
pydantic-settings
python-dotenv
email-validator
fastapi-mail
pandas
openpyxl
